
    <%- include("./partials/html-head") %>
    <%- include("./partials/nav") %>

    <section>
    <div class="welcome_container">
        <h1 class="welcome"><%= title%></h1>
    </div>
</section>
    
    
</div>
<%- include("./partials/footer") %>
