.welcome{
    font-size: 3rem;
}
.welcome_container{
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.section_allmovies{
    max-width: 80rem;
    margin: 0 auto;
    
}
.container_allmovies{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 2rem;
}
.title_container{
border-bottom: 0.14rem solid #212529;
max-width: 10rem;
display:flex;
justify-content: center;
padding-bottom: 0.5rem;

}
.release_container{
    border-bottom: 0.14rem solid #212529;
    padding-bottom: 0.5rem;
}
.empty{
    max-width: 5rem;
    border-bottom: 0.14rem solid #212529;
}
.single_movie_row{
    margin-top: 3rem;
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10rem 7rem 5rem;
    justify-content: center;  
}